body {
    color: white;
    background:rgb(180, 25, 25);
    margin: 0;
    font-family: 'Chewy', cursive;
    padding: 20px;
}

header {
    font-family: 'Birthstone', cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
}

h1 {
    padding: 10px 15px;
    background-color: #5e1818; 
    color: white; 
    display: inline-block; 
    border-radius: 8px; 
}

.titulo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding: 10px 15px;
    background-color: #5e1818;
    color: white;
    display: inline-block;
    border-radius: 8px;
    margin-top: 30px;
}


p {
    font-size: 18px;
    line-height: 1.5;
}

iframe {
    display: block;
    margin: 20px auto;
}