body {
    color: white;
    background:rgb(180, 25, 25);
    margin: 0px;
    font-family: 'Chewy', cursive;
    padding: 20px;
}

header {
    font-family: 'Birthstone', cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(42, 122, 228) ;
    padding: 22px;
    font-size: 32px;
    color: rgb(
}

h1, h2, h3, h4 {
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
}

h1 {
    padding: 10px 15px;
    background-color: #5e1818; 
    color: white; 
    display: inline-block; 
    border-radius: 8px; 
}

h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding: 10px 15px;
    background-color: #5e1818;
    color: white;
    display: inline-block;
    border-radius: 8px;
    margin-top: 30px;
}

section div {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    gap: 15px;            
}


section div img {
    width: 250px;          
    border-radius: 10px;  
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

section div img:hover {
    transform: scale(1.05);

}

